$text_color: rgba(255, 0, 38, 0.74);
$text_color_hover: rgba(255, 0, 38, 0.99);
$line_color: rgba(255, 0, 38, 0.99);
$black_hole_shadow_color: rgba(255, 0, 98, 0.45);
$msg_color: rgb(255, 0, 98);
$back_light_color:rgba(255, 0, 0, 0.45);
$back_color:#05050c;
$neon_btn_text_color: rgb(192, 23, 35);
$neon_btn_border_color: #6c0e1c;
$neon_btn_line_color:rgba(192, 23, 35, 0.73);
$nav_color: rgba(255, 38, 0, 0.45);
$header_back: rgba(5, 5, 12, 0.84);
$section_line_color:rgba(255, 0, 38, 0.73);
