.header__logo {
  cursor: url("../images/other/cursor-click.png"), auto;
}

.nav__link {
  cursor: url("../images/other/cursor-click.png"), auto;
}

.moon__block {
  cursor: url("../images/other/cursor.png"), auto;
}

.moon {
  cursor: url("../images/other/cursor.png"), auto;
  g {
    cursor: url("../images/other/cursor.png"), auto;
  }
}

.footer{
  cursor: url("../images/other/cursor.png"),auto;
}

.languages{
  cursor: url("../images/other/cursor.png"),auto;
}

.email{
  cursor: url("../images/other/cursor-click.png"),auto;
}

.greeting{
  cursor: url("../images/other/cursor-click.png"),auto;
  &__advert{
    cursor: url("../images/other/cursor-click.png"),auto;
  }
}

.hide-form--btn{
  cursor: url("../images/other/cursor-click.png"),auto;
}

.social-media__link{
  cursor: url("../images/other/cursor-click.png"),auto;
  svg {
    cursor: url("../images/other/cursor-click.png"),auto;
    path{
      cursor: url("../images/other/cursor-click.png"),auto;
    }
  }
}

.show-form--btn{
  cursor: url("../images/other/cursor-click.png"),auto;
  img{
    cursor: url("../images/other/cursor-click.png"),auto;
  }

  &__msg{
    cursor: url("../images/other/cursor-click.png"),auto;
  }
}

.contact__form-el{
  cursor: url("../images/other/cursor.png"),auto;
  &--in,&--lb,&--ta{
    cursor: url("../images/other/cursor-click.png"),auto;
  }
}

