@import "components/_back";
@import "components/_header";
@import "components/_about";
@import "components/_animation";
@import "components/_greeting";
@import "components/_projects";
@import "components/_project";
@import "components/experience";
@import "components/facts";
@import "components/skills";
@import "components/contact";
@import "components/menu-overlay";
@import "components/title";
@import "components/main";
@import "components/neon-button";
@import "components/social-media";
@import "components/footer";
