@import "nullStyle";
@import "nullStyle";
@import "fonts";
@import "imports";
@import "variables";
@import "cursor-import";

body {
  background: #05050C;
  font-family: 'WhyteInktrap', serif;
  font-weight: 300;
  cursor: url("../images/other/cursor.png"), auto;
}


::-webkit-scrollbar {
  width: 15px;
  cursor: url("../images/other/cursor-click.png"), auto;
}

::-webkit-scrollbar-track {
  background: #05050c;
  cursor: url("../images/other/cursor-click.png"), auto;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #05050c;
  border-radius: 10px;
  transition: all 0.5s linear;
  box-shadow: inset 1px 1px 10px red;
  cursor: url("../images/other/cursor-click.png"), auto;
}

.neon_btn {
  @include neon_btn;
}

@keyframes move_title {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, 3px);
  }
  50% {
    transform: translate(-2px, 1px);
  }
  75% {
    transform: translate(5px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
