@import "colors";

:root{
  --posX:0;
  --posY:0;
}

@mixin neon_btn{
  padding: 10px 10px;
  color: $neon_btn_text_color;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  background: inherit;
  letter-spacing: 3px;
  border: 1px solid $neon_btn_border_color;
  overflow: hidden;
  transition: all 1s ease ;
  cursor: url("../images/other/cursor-click.png"),auto;


  .neon_line {
    position: absolute;
    display: block;
    border-radius: 100px;
  }

  .neon_line__top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;

    background: $neon_btn_line_color;
    transition: all 1s ease;

  }

  &:hover .neon_line__top {
    left: 100%;
  }

  .neon_line__bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: $neon_btn_line_color;
    transition: all 1s ease;

  }

  &:hover .neon_line__bottom {
    right: 100%;
  }

  .neon_line__left {
    left: 0;
    bottom: -100%;
    width: 5px;
    height: 100%;
    background: $neon_btn_line_color;
    transition: all 1s ease;

  }

  &:hover .neon_line__left {
    bottom: 100%;
  }

  .neon_line__right {
    right: 0;
    top: -100%;
    width: 5px;
    height: 100%;
    background: $neon_btn_line_color;
    transition: all 1s ease;

  }

  &:hover .neon_line__right {
    top: 100%;
  }

  &:hover {
    transition: all 0.5s ease 0.2s;
    box-shadow: $neon_btn_text_color 0 0 10px, $neon_btn_text_color 0 0 20px;
    background: rgba(192, 23, 35, 0.73);
    color: #000;
  }
}

@mixin anim_letter{
  display: block;
  font-size: 50px;
  color: $text_color;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
  cursor: url("../images/other/cursor-click.png"),auto;

  &:hover {
    animation: letter_anim 1.5s ease-in-out;
    color: $text_color_hover;
  }

  &._active {
    animation: letter_anim 0.3s ease-in-out;
    color: $text_color_hover;
  }

  @keyframes letter_anim {
    0% {
      color: $text_color;
      transform: scaleY(1) scaleX(1);
    }
    20% {
      color: $text_color_hover;
      transform: scaleY(1.4) scaleX(1);
    }
    40% {
      color: $text_color_hover;
      transform: scaleY(0.9) scaleX(1);
    }
    50% {
      color: $text_color_hover;
      transform: scaleY(1) scaleX(1.3);
    }
    60% {
      color: $text_color_hover;
      transform: scaleY(1) scaleX(0.9);
    }

    90% {
      color: $text_color_hover;
      transform: scaleY(1) scaleX(1.1);
    }
    100% {
      color: $text_color_hover;
      transform: scaleY(1) scaleX(1);
    }
  }

}

@mixin title {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  overflow: hidden;

  &__text {
    display: block;
    position: relative;
    text-align: start;
    font-weight: 200;
    font-size: 52px;
    color: $text_color;
    text-transform: uppercase;
    transition: all 1s ease;
    opacity: 1;
    transform: translateY(-100px);
    animation: move_title 15s linear infinite;


  }
  &__underline {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1px;
    background: $section_line_color;
    transition: all 1.5s linear;

    &._active {
      width: 100%;

      .line {
        width: 100%;
      }
    }
  }
}

@mixin flex_dir_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex_jus-sb_alc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.underline {
  display: flex;
  align-items: center;
  width: 0;
  transition: all 1.5s linear;

  &._active {
    width: 100%;

    .line {
      width: 100%;
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background: rgba(255, 0, 38, 0.73);
  }
}

.link{
  color: $text_color;
  font-weight: 200;
  transition: all 0.4s linear;
  cursor: url("../images/other/cursor-click.png"),auto;

  &:hover{
    color: $text_color_hover;
  }
}
