@import "../colors";

.experience {
  padding: 0 100px;

  &__date {
    display: block;
    width: 30%;
    text-align: center;
    opacity: 1;
    transition: all 2s linear;
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-color: $text_color;
    -webkit-text-stroke-width: 1px;
  }

  &__desc {
    display: block;
    width: 70%;
    color: rgba(255, 0, 38, 0.44);
    font-weight: 100;
    font-size: 22px;
    text-align: justify;
    opacity: 1;
    transition: all 2s linear;
  }

  &__list {
    @include flex_dir_col;
    width: 100%;
  }

  &__info {
    @include flex_jus-sb_alc;
    gap: 10px;
    padding: 30px;
    border-bottom: 1px solid $section_line_color;
  }
}

@media screen and(max-width: 1100px) {
  .experience {
    &__date {
      font-size: 45px;
    }

    &__desc {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 975px) {
  .experience {
    &__date {
      font-size: 38px;
    }

    &__desc {
      font-size: 16px;
    }
  }
}

@media screen and(max-width: 890px) {
  .experience {
    padding: 0 50px;

    &__date {
      font-size: 38px;
    }

    &__desc {
      color: rgba(255, 0, 38, 0.74);
      font-size: 16px;
    }

    &__info{
      padding: 10px;
    }
  }
}

@media screen and(max-width: 845px) {
  .experience {
    padding: 0 20px;
    &__date {
      font-size: 32px;
    }

    &__desc {
      color: rgba(255, 0, 38, 0.74);
      font-size: 14px;
    }

    &__info{
      padding: 10px;
    }
  }
}

@media screen and(max-width: 600px) {
  .experience {
    padding: 0 20px;
    gap: 20px;
    flex-wrap: wrap;
    &__date {
      font-size: 32px;
      width: 100%;
      text-align: left;
    }

    &__desc {
      color: rgba(255, 0, 38, 0.74);
      font-size: 14px;
      width: 100%;
    }

    &__info{
      flex-wrap: wrap;
      padding: 20px;
      gap: 20px;
    }
  }
}

@media screen and(max-width: 440px) {
  .experience {
    padding: 0 20px;
    gap: 20px;
    flex-wrap: wrap;
    &__date {
      font-size: 28px;
      width: 100%;
      text-align: left;
    }

    &__desc {
      color: rgba(255, 0, 38, 0.74);
      font-size: 14px;
      width: 100%;
    }

    &__info{
      flex-wrap: wrap;
      padding: 20px;
      gap: 20px;
    }
  }
}

