@import "../variables";


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  width: 100%;
  z-index: 20;
  border-top: 1px solid $line_color;
  padding: 15px 0 0 0;
  background: $back_color;

    .content {
      @include flex_dir_col;
      justify-content: space-between;
      row-gap: 20px;

      .languages {
        @include flex_dir_col;
        align-items: flex-start;
        color: $text_color;
        font-weight: 100;
        font-size: 16px;
        letter-spacing: 1.5px;

        &__title{
          text-transform: uppercase;
          color: $text_color;
          font-weight: 600;
          font-size: 20px;
          height: 30px;
        }

        &__list{
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }

      .email{
        text-transform: uppercase;
        color: $text_color;
        font-weight: 600;
        font-size: 16px;
      }
    }

    .show-form--btn{
      position: relative;

      img{
        height: 200px;
        width: 150px;
        position: relative;
        opacity: 0.5;
        transition: all 0.5s linear;

      }

      &__msg{
        position: absolute;
        display: block;
        top: 65%;
        left: 50%;
        text-align: center;
        transform: translate(-50%);
        color: black;
        text-transform: uppercase;
        font-weight: 100;


      }

      &:hover{
        img{
          opacity: 1;
        }
      }
    }

  &__social-media {
    width: 300px;
    margin: 20px;
  }

  }


@media screen and (max-width: 660px){
  .footer{
    gap: 20px;

    &__social-media{
      margin: 10px 0;
      width: 250px;

      .social-media__link{
        width: 40px;
        height: 40px;
      }
    }

    .content{
      .languages{
        &__list{
          font-size: 12px;
        }
        &__title{

        }

      }
      .email{
        font-size: 10px;
      }
    }
    .show-form--btn{
      img{
        width: 125px;
        height: 175px;
      }
    }
  }
}
