.menu-overlay{
  z-index: 9999;
  width: 100%;
  min-height: 100vh;
  background: $back_color;
  position: fixed;
  padding-top:100px ;
  transform: translateX(100%);

  .content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 80vh;
    width: 100%;
    padding: 20px;
  }

  &__social-media{
    gap: 30px;
    width: 100px;

    .social-media__link{
      width: 45px;
      height: 45px;
    }
  }

  &__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav__link{
      font-weight: 100;
      font-size: 50px;
      display: flex;
      transform: translateX(1000%);


      &-num{
        display: block;
        height: fit-content;
        background: $nav_color;
        color: $back_color;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 12px;
        padding: 2px;
      }
    }
  }

  &__back-title{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;


    .menu-title{
      font-family: sans-serif;
      color:rgba(255, 38, 0, 0.10);
      font-weight: 600;
      font-size: 250px;


    }
  }
}
