.nav {
  display: flex;
  gap: 40px;

  &__link {
    display: flex;
    color: $nav_color;
    font-weight: 400;
    font-size: 18px;
    transition: all ease 0.4s;
    &-num{
      display: block;
      height: fit-content;
      background: $nav_color;
      color: $back_color;
      font-family: sans-serif;
      font-weight: 500;
      font-size: 12px;
      padding: 2px;
    }

    &:hover {
      color: $text_color_hover;
    }
  }
}
