.neon_btn{
  padding: 10px;
  color: $neon_btn_text_color;
  font-weight: 400;
  position: relative;
  display: block;
  background: inherit;
  letter-spacing: 3px;
  border: 1px solid $neon_btn_border_color;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 1s ease ;
  cursor: url("../../images/other/cursor-click.png"),pointer;

  .neon_line {
    position: absolute;
    display: block;
    border-radius: 100px;

    &__top {
      top: 0;
      left: -100%;
      width: 100%;
      height: 5px;

      background: $neon_btn_line_color;
      transition: all 1s ease;

    }
    &__bottom {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 5px;
      background: $neon_btn_line_color;
      transition: all 1s ease;

    }
    &__left {
      left: 0;
      bottom: -100%;
      width: 5px;
      height: 100%;
      background: $neon_btn_line_color;
      transition: all 1s ease;

    }
    &__right {
      right: 0;
      top: -100%;
      width: 5px;
      height: 100%;
      background: $neon_btn_line_color;
      transition: all 1s ease;

    }
  }



  &:hover .neon_line__top {
    left: 100%;
  }



  &:hover .neon_line__bottom {
    right: 100%;
  }



  &:hover .neon_line__left {
    bottom: 100%;
  }



  &:hover .neon_line__right {
    top: 100%;
  }

  &:hover {
    transition: all 0.5s ease 0.2s;
    box-shadow: $neon_btn_text_color 0 0 10px, $neon_btn_text_color 0 0 20px;
    background: rgba(192, 23, 35, 0.73);
    color: #000;
  }
}

@media screen and (max-width: 556px){
  .neon_btn{
    &:hover .neon_line__top {
      left: -100%;
    }



    &:hover .neon_line__bottom {
      right: -100%;
    }



    &:hover .neon_line__left {
      bottom: -100%;
    }



    &:hover .neon_line__right {
      top: -100%;
    }

    &:hover {
      transition: all 0.5s ease 0.2s;
      box-shadow: none;
      background: rgba(192, 23, 35, 0);
      color: $neon_btn_text_color;
    }
  }
}