@import "../variables";

.project {
  display: flex;
  align-items: center;
  gap: 100px;


  &__img {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    transition: all 0.8s linear;
    z-index: 5;
    opacity: 1;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0),
    3px 5px 15px rgba(0, 0, 0, 0);

    &._active {
      opacity: 1;
    }
  }

  &__programing-languages {
    position: absolute;
    bottom: -50px;
    left: 100px;
    display: flex;
    column-gap: 20px;
    transition: all 0.8s linear;
    opacity: 0;
    z-index: 10;
    animation: move_title 10s ease infinite;

    img {
      width: 80px;
      height: 80px;
    }
  }

  &__poster {
    transition: all 0.4s linear;

  }


  &__info {
    height: 200px;
    min-width: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 100;
    transition: all 0.4s linear;
    color: $text_color;
    opacity: 1;
  }

  &__title {
    text-align: center;
    font-size: 24px;
  }

  &__desc {
    font-size: 18px;
    text-align: justify;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;


  }
  &__button {
    font-size: 16px;
    text-transform: uppercase;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .project__poster {
      .project__img {
        animation: move_title 15s ease infinite;

      }
    }
  }

  &:hover {
    .project__poster {
      .project__img {
        box-shadow: 3px 5px 5px red,
        3px 5px 15px red;
      }

      .project__programing-languages {
        opacity: 1;
      }
    }
  }
}

@media screen and(max-width: 1160px) {
  .project {
    gap: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .project {
    gap: 30px;

    &__img {
      width: 400px;
      height: 250px;
    }
  }
}

@media screen and (max-width: 1030px) {
  .project {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    &__img {
      width: 500px;
      height: 300px;
    }

    &__desc {
      font-size: 20px;
    }

    &__programing-languages {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: none;
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .project {
    &__img {
      width: 400px;
      height: 250px;
    }

    &__desc {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 735px) {
  .project {
    &__img {
      width: 350px;
      height: 225px;
    }

    &__programing-languages {
      img {
        width: 60px;
        height: 60px;
      }
    }

    &__desc {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 475px) {
  .project {
    gap: 10px;

    &__img {
      width: 300px;
      height: 200px;
    }

    &__info {
      min-width: 300px;
      justify-content: center;
      gap: 20px;
    }
    &__title {
      font-size: 20px;
    }

    &__desc {
      font-size: 14px;
    }

    &__buttons {
      .neon_btn {
        font-size: 10px;
      }
    }
  }
}
