.skills {
  @include flex_dir_col;
  padding: 0 100px;

  &__carrousel{
    width: 100%;
    overflow: hidden;
    border-bottom:1px solid $section_line_color;

  }

  &__list {
    display: flex;
    align-items: center;

    padding: 30px 0;
    width: 100%;
    gap: 50px;
    animation: skillsCarrousel linear 18s infinite;


    .skill {
      opacity: 0.3;
      transition: all 0.7s linear;
      img{
        width: 120px;
      }
      &:hover {
        opacity: 1;
      }
    }

    &:hover{
      animation-play-state: paused;
    }
  }
}


@keyframes skillsCarrousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-170*8px));
  }
}

@media screen and (max-width: 1160px){
  .skills{
    &__list{
      gap: 30px;
      .skill{
        img{
          width: 90px;
        }
      }
    }
  }

  @keyframes skillsCarrousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-120*8px));
    }
  }
}

@media screen and (max-width: 890px){
  .skills{
    padding: 0 50px;
    &__list{
      gap: 30px;
      .skill{
        img{
          width: 85px;
        }
      }
    }
  }

  @keyframes skillsCarrousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-115*8px));
    }
  }
}

@media screen and (max-width: 835px){
  .skills{
    padding: 0 20px;
    &__list{
      gap: 25px;
      .skill{
        img{
          width: 80px;
        }
      }
    }
  }

  @keyframes skillsCarrousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-105*8px));
    }
  }
}


@media screen and (max-width: 592px){
  .skills{
    padding: 0 20px;
    &__list{
      padding: 20px 0;
      gap: 25px;
      .skill{
        img{
          width: 65px;
        }
      }
    }
  }

  @keyframes skillsCarrousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-90*8px));
    }
  }
}
