.social-media {
  display: flex;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 46px;
    height: 46px;
    font-size: 24px;
    border: 1px solid $text_color;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.4s ease;

    svg {
      path{
        fill: $text_color;
      }
    }

    &:hover {
      box-shadow: inset 0 0 10px red;

      svg {
        animation: linkAnim 0.3s linear;

        path{
          fill: $text_color;
        }
      }
    }
  }

}



@keyframes linkAnim {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -40px);
    opacity: 0;
  }

  75% {
    transform: translate(0, 40px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 556px){
  .social-media{
    &__link{
      &:hover{
        box-shadow: none;

        svg{
          animation: none;
        }
      }
    }
  }
}